{%- set min_minor = min_python_version.split('.')[1] | int -%}
{%- set max_minor = max_python_version.split('.')[1] | int -%}
{%- set matrix = {'python-version': []} -%}
{%- for minor in range(min_minor, max_minor + 1) -%}{{ matrix['python-version'].append('3.' ~ minor) or '' }}{%- endfor -%}
{{ matrix.update(test_matrix | from_json) or '' -}}
name: Publish Python Package

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    quality-assurance:
        uses: davyddd/dd-lib-stub/.github/workflows/quality_assurance.yml@{{ _copier_answers._commit }}
        with:
            test-matrix: '{{ matrix | to_json }}'
            default-python-version: '{{ max_python_version }}'
        secrets: inherit
    build:
        needs: quality-assurance
        uses: davyddd/dd-lib-stub/.github/workflows/build_python_package.yml@{{ _copier_answers._commit }}
        with:
            package-name: {{ package_name }}
            python-version: '{{ max_python_version }}'
    # PyPI trusted publishing verifies the workflow file of the publishing job, so this job has to live
    # here and cannot be moved into a reusable workflow.
    publish:
        needs: build
        runs-on: ubuntu-24.04
        environment:
            name: pypi
            url: https://pypi.org/p/{{ package_name }}
        permissions:
            id-token: write
        steps:
            -   uses: actions/download-artifact@v8.0.1
                with:
                    name: dist
                    path: dist/
            # Also generates PEP 740 attestations
            -   uses: pypa/gh-action-pypi-publish@release/v1
    release:
        needs: publish
        uses: davyddd/dd-lib-stub/.github/workflows/github_release.yml@{{ _copier_answers._commit }}
        permissions:
            contents: write
    coverage:
        # last: the coverage report is uploaded only once the release is out
        needs: release
        uses: davyddd/dd-lib-stub/.github/workflows/coverage.yml@{{ _copier_answers._commit }}
        with:
            package-name: {{ package_name }}
            python-version: '{{ max_python_version }}'
        secrets: inherit
