{%- set min_minor = min_python_version.split('.')[1] | int -%}
{%- set max_minor = max_python_version.split('.')[1] | int -%}
{%- set matrix = {'python-version': []} -%}
{%- for minor in range(min_minor, max_minor + 1) -%}{{ matrix['python-version'].append('3.' ~ minor) or '' }}{%- endfor -%}
{{ matrix.update(test_matrix | from_json) or '' -}}
name: Quality Assurance

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main

concurrency:
    group: {% raw %}${{ github.workflow }}-${{ github.ref }}{% endraw %}
    cancel-in-progress: true

jobs:
    quality-assurance:
        uses: davyddd/dd-lib-stub/.github/workflows/quality_assurance.yml@{{ _copier_answers._commit }}
        with:
            test-matrix: '{{ matrix | to_json }}'
            default-python-version: '{{ max_python_version }}'
        secrets: inherit
    coverage:
        # after the checks and only for pushes to main: pull requests do not upload coverage
        needs: quality-assurance
        if: {% raw %}${{ github.event_name == 'push' }}{% endraw %}
        uses: davyddd/dd-lib-stub/.github/workflows/coverage.yml@{{ _copier_answers._commit }}
        with:
            package-name: {{ package_name }}
            python-version: '{{ max_python_version }}'
        secrets: inherit
